

<div id="song-box">
  <div id="player"></div>
  <div id="now-playing">
    <p>
    </p>
  </div>
</div>

<div class="concert-box">
  <ul>
    <%= render partial: 'concert', collection: @concerts%>
  </ul>
</div>

<script>
    var player;
    videoList = <%== @youtube_ids.to_json %>

    function loadPlayer() {
        if (document.querySelector('#player')) {
            // get API
            var tag = document.createElement('script'),
            firstScriptTag = document.getElementsByTagName('script')[0];
            tag.src = 'https://www.youtube.com/iframe_api';
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                playCount = 0;


            function playChannel() {
                // init player
                player = new YT.Player(
                    'player',
                    {
                        width: '350',
                        height: '200',
                        videoId: videoList[0],
                        playerVars: {
                            rel: 1,
                            autoplay: 1,
                            disablekb: 0,
                            showsearch: 0,
                            showinfo: 0,
                            controls: 1,
                            autohide: 0,
                            modestbranding: 0,
                            wmode: 'opaque',
                            hd: 1,
                            html5: 1,
                            iv_load_policy: 3
                        },
                        events: {
                            'onReady'        : onPlayerReady,
                            'onStateChange'  : onPlayerStateChange,
                            'onError'        : error
                        }
                    }
                );

                // play video
                function onPlayerReady(e) {
                    console.log('onPlayerReady');
                    $('.concert-box ul li:eq(0)').css('backgroundColor', 'rgb(7, 206, 250)')
                    //ajax
                    $.ajax({
                      url: 'songs/search',
                      type: 'GET',
                      data: {videoId: videoList[playCount]}
                    })
                }

                function error(e) {
                    console.log('Error');
                    console.log(e);
                }
            }


            function onPlayerStateChange(e) {
                // get state
                console.log(e);

                // play list loop when video end play next video
                if (e.data === 0) {
                    $(".concert-box ul li" + ":eq("+playCount+")").css('backgroundColor', '');
                    playCount++;
                    if (playCount > (videoList.length -1)) {
                        playCount = 0;
                    }
                    player.loadVideoById(videoList[playCount]);
                    player.playVideo();
                    $(".concert-box ul li" + ":eq("+playCount+")").css('backgroundColor', 'rgba(70, 164, 242, 0.8)');
                    console.log(playCount)
                    $.ajax({
                      url: 'songs/search',
                      type: 'GET',
                      data: {videoId: videoList[playCount]}
                    })
                }

                // $('.concert-box ul li:eq(2)').css('backgroundColor', 'red');
            }

            function onYouTubeIframeAPIReady() {
                playChannel();
            }

            setTimeout(function() {
                onYouTubeIframeAPIReady();
            }, 1200);
        }
    }

    loadPlayer();
</script>
